@charset "UTF-8";

*{
    margin: 0px;
    margin: 0px;
}

body{
    background: blue;
    font: normal 15pt Arial;
}

header{
    text-align: center;
    margin: 20px;
    color: white;
}

section{
    background: white;
    padding: 10px;
    min-width: 320px;
    max-width: 500px;
    margin: auto;
    line-height: 40px;
    border-radius: 10px;
}

input#nasc{
    width: 100px;
}

footer{
    text-align: center;
    margin: 10px;
    color: white
}